:root {
    --background-color: #EEEEEE;
    --text-color: #222831;
    --highlight-color: #00ADB5;
    --extra-color: #71C9CE;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    margin: 10px auto;
    text-align: center;
}

.main-header {
    color: var(--highlight-color);
}

h2 {
    text-align: center;
}

input {
    margin: 10px auto;
    width: 50%;
    border: 2px solid var(--highlight-color);
    border-radius: 10px;
}

::-webkit-input-placeholder {
    text-align: center;
    color: var(--highlight-color);
}

button {
    border: 2px solid var(--highlight-color);
    border-radius: 10px;
    width: 50%;
    margin: 10px auto;
}
  
